<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Coke and Pepsi</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Coke & Pepsi
      </h1>
    </header>

    <main>
      <form action="/api/new" method="post">
        <h4>
          Specify Canvas Size (required)
        </h4>
        <p class="hint">
          <em>note that the image size will be approximate if not calculated as divisible by the can size. The cans will be centered on the canvas and the remainder of the width and height will be deleted from the image, not added to the border.</em>
        </p>
        <div class="question">
          <label>Image Width</label><input required name="imageWidth" type="number" maxlength="10" placeholder="...px" aria-labelledby="imageWidth">
        </div>
        <div class="question">
          <label>Image Height</label><input required name="imageHeight" type="number" maxlength="20" placeholder="...px" aria-labelledby="imageHeight">
        </div>
        <div class="question">
          <label>+ Border Width:</label><input required name="borderWidth" type="number" maxlength="20" placeholder="...px" aria-labelledby="borderWidth">
        </div>
        <h4>
          Specify <em>either</em> <br/>"Can Width" or "Number of Cans"
        </h4>
        <div class="question">
          <label>Can Width:</label><input name="canWidth" type="number" maxlength="20" placeholder="...px" aria-labelledby="canWidth">
        </div>
          <b>OR</b>
        <div class="question">
          <label>Number of Cans:</label><input name="numberOfCans" type="number" maxlength="20" placeholder="...px" aria-labelledby="numberOfCans">
        </div>
        <div style="padding-bottom:30px">
        </div>
        <!-- <input name="password" type="password" maxlength="100" placeholder="Password..." aria-labelledby="password"> -->
        <button type="submit" id="Submit">Submit Specifications</button>
        <div id="errorMessage"></div>
      </form>
      
      <section class="dreams">
        <ul id="dreams"></ul>
      </section>
    </main>

    <footer>

    </footer>

  </body>
</html>
